body {
    margin: 0%;
}

.header {
    background-color: rgb(218, 183, 252);
    width: 100%;
    min-height: 80px;
    position: sticky;
    border: 2px solid black;
}

.logo-image {
    float: left;
    margin: 5px;
}

.logo-title {
    float: left;
    font-weight: 800;
    font-size: xx-large;
    color: rgb(12, 6, 42);
}

.input-form {
    display: grid;
    grid-template-columns: 20% auto;
    max-width: 50%;
}