body {
    margin: 0%;
}

.board {
    width: 60%;
    padding: 30px;
}

.top-nav-bar {
    width: 100%;
    min-height: 80px;
    position: sticky;
    border: 2px solid black;
    padding-left: 30px;
    
}

.top-xml-selected {
    background-color: #D7289F;
}

.top-json-selected {
    background-color: #9FD728;
}

.top-nav-btn {
    color: #48D728;
    background-color: #D7289F;
    padding: 20px 10px;
    margin-top: 5px;
    border: 2px solid #48D728;
    border-radius: 10px;
    font-size: larger;
}

.top-nav-btn:hover {
    background-color: #48D728;
    color: #D7289F;
}

.top-nav-btn:active {
    color: white;
    border-color: white;
    background-color: #D72848;
}

.logo-image {
    float: left;
    margin: 5px;
    
}

.logo-title {
    float: left;
    font-weight: 800;
    font-size: xx-large;
    color: #48D728;
    margin-right: 15px;
}

.input-form {
    display: grid;
    grid-row-gap: 6px;
    grid-template-columns: 20% auto;
    grid-column-gap: 5px;
    
    margin-right: 20%;
    
    padding-right: 30%;

    font-size: large;
    text-align: right;
}

#input-lang {
    max-width: 150px;
}

#dropdown-int {
    display: none;
}


.granular-call-form-container {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 50%;
}

.granular-call-form {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    
    margin-right: 10%;
}

#granular-remove-all {
    position: absolute;
    top: -11px;
    right: 0px;
}

.top-nav {
    padding: auto;
    border: 2px solid purple;
}
.get-json-button {
    font-size: larger;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20%;
    border: 4px solid black;
    border-radius: 15px;
}

.get-json-button:hover {
    border: 4px solid #9FD728;
    color: #9FD728;
    background-color: rgb(0, 0, 0);
}