body {
    margin: 0%;
}
/* COMMON FOR ALL VIEWS */
.board {
    position: relative;
    width: 30%;
    padding: 30px;
}
/** Top navigation bar */
/* Top area and three buttons representing the oprtions */
/* Each area also represents three states that can have */
.top-nav-bar {
    width: 100%;
    min-height: 80px;
    position: sticky;
    border: 3px solid black;
    padding-left: 30px;
    
}

.top-xml-selected {
    background: rgba(255,0,122,1);
    background: linear-gradient(67deg, rgba(255,0,122,1) 27%, rgba(89,0,92,1) 100%); 
    color: black;
}

.top-json-selected {
    background: rgb(255,0,0);
    background: linear-gradient(211deg, rgba(255,0,0,1) 0%, rgba(66,54,255,1) 73%); 
    color: white
}

.top-csv-selected {
    background: rgb(101,246,83);
    background: linear-gradient(67deg, rgba(101,246,83,1) 0%, rgba(3,243,255,1) 100%); 
    color: black;
}

.top-nav-btn {
    padding: 20px 10px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: larger;
    min-width: 80px;
}

.view-nav-button {

    padding: 10px;
    margin-top: 10px;
    /* margin-left: 20%; */
    width: 180px;
    min-height: 60px;
    font-size: large;
}

.input-form-field {
    padding: 3px;
    grid-column: auto / span 2;

}

#input-password {
    grid-column: auto;
}

.input-form-label {
    padding: 8px 0px;
}

.button-board {
    margin-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 100%;
}
/* DEFAULT/XML VIEW */
#button-board-xml {
    background: rgba(255,0,122,1);
}
.button-xml-selected {
    background: rgba(255,0,122,1);
    border: 2px solid rgba(255,0,122,1);
    /* border:none; */
    color: black;
}
.button-xml-selected:hover {
    background: rgb(255,0,0);
    background: linear-gradient(211deg, rgba(255,0,0,1) 0%, rgba(234,54,255,1) 100%); 
    color: rgb(255, 255, 255);
    border: 2px solid white;
}
.button-xml-selected:active {
    color: white;
    border: 2px solid #ffa7e7;
    background: rgb(144,0,98);
    background: linear-gradient(211deg, rgba(144,0,98,1) 34%, rgba(255,0,0,1) 100%); 
}
#password-wrapping {
    position: relative;
}

#show-password-btn {
    padding: 5px 4px;
    border: 1px solid gray;
    background-color: white;
    margin-left: -6px;
}

#xml-outputRadioButton {
    padding-left: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
}



/* JSON VIEW */
.button-json-selected {
    background-color: rgba(66,54,255,1);
    color: white;
    border: 2px solid rgba(66,54,255,1);
}
.button-json-selected:hover {
    background: rgb(249,249,255);
    background: linear-gradient(349deg, rgba(249,249,255,1) 0%, rgba(0,212,255,1) 100%);
    border-color: #2847D7;
    color: #2847D7;
}
.button-json-selected:active {
    color: white;
    border-color: white;
    background: rgb(0,14,144);
    background: linear-gradient(211deg, rgba(0,14,144,1) 0%, rgba(0,242,255,1) 100%); ;
}
#button-board-json {
    background-color: rgba(66,54,255,1);
}

/* CSV selected */
.button-csv-selected {
    background-color: rgb(101,246,83);
    border: 2px solid rgb(101,246,83);
    color: black;
}
.button-csv-selected:hover {
    background-color: black;
    border: 2px solid black;
    color: rgb(101,246,83);
}
.button-csv-selected:active {
    background: rgb(41,101,33);
    background: radial-gradient(circle, rgba(41,101,33,1) 0%, rgba(0,106,111,1) 100%); 
    color: rgb(101,246,83);
    border: 1px solid rgb(101,246,83);
}

#button-board-csv {
    margin-left: -30px;
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;

    width: 100%;
    background: rgb(101,246,83);
}

.logo-image {
    float: left;
    margin: 5px;
    
}

.logo-title {
    float: left;
    font-weight: 800;
    font-size: xx-large;
    margin-right: 15px;
}
/* END OF TOP NAV BAR */

/* INPUT FORM AND THEIR CHANGES */
.input-form {
    display: grid;
    grid-row-gap: 6px;
    grid-template-columns: 15% 60% 5%;
    grid-column-gap: 5px;
    

    text-align: right;
    position: relative;
}

#input-clear-all-button {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
}

#input-lang {
    max-width: 300px;
    padding: 3px 20px;
    grid-column: auto / span 2;
}

#dropdown-int {
    display: none;
}


.granular-call-form-container {
    margin-top: 20px;
    width: 100%;
    /* margin-left: 20px; */
}

.granular-call-form {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
}

#granular-remove-all {
    position: absolute;
    top: -11px;
    right: 0px;
}

/** Removing arrows from the input=number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}