body {
    margin: 0%;
}

.header {
    background-color: rgb(210, 164, 253);
    width: 100%;
    min-height: 80px;
    position: sticky;
}

.board {
    background-color: chartreuse;
}

.board:active {
    background-color: aqua;
}

.logo-image {
    float: left;
}